@model DatabaseLayer.UserTable

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>eDoc_Point</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/style.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/responsive.css">
</head>
<body>
    <div class="container body-content">
        <section class="appointment-area">
            <div class="container">
                <div class="appointment-inner accordion">
                    <div class="row">
                        
                            <div class="col-md-12">
                         

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <h2 class="text-center">eDoc_Point</h2>
                                    <h4 class="text-center">Create Account</h4>
                                    @ViewBag.Message
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserTypeID, "Select Type", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("UserTypeID", null, "Select Type", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.UserTypeID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserName, "Enter User Name", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password, "Enter Password", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ContactNo, "Contact No", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Create Account" class="genric-btn primary" />
                                            @Html.ActionLink("Back", "Home", new { @class = "genric-btn default" })
                                        </div>
                                    </div>
                                </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
          
        </section>
    </div>


       
        <script src="~/Content/FrontTemplate/js/jquery-2.2.4.min.js"></script>
        <script src="~/Content/FrontTemplate/js/popper.js"></script>
        <script src="~/Content/FrontTemplate/js/bootstrap.min.js"></script>
        <script src="~/Content/FrontTemplate/js/stellar.js"></script>
        <script src="~/Content/FrontTemplate/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="~/Content/FrontTemplate/js/jquery.ajaxchimp.min.js"></script>
        <script src="~/Content/FrontTemplate/js/waypoints.min.js"></script>
        <script src="~/Content/FrontTemplate/js/mail-script.js"></script>
        <script src="~/Content/FrontTemplate/js/contact.js"></script>
        <script src="~/Content/FrontTemplate/js/jquery.form.js"></script>
        <script src="~/Content/FrontTemplate/js/jquery.validate.min.js"></script>
        <script src="~/Content/FrontTemplate/js/mail-script.js"></script>
        <script src="~/Content/FrontTemplate/js/theme.js"></script>
</body>
</html>
